---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE, ANIMATED_BACKGROUND } from "@consts";
import { Tooltips } from "astro-tooltips";
import Background from "@components/backgrounds/Background.astro";

type Props = {
  title: string;
  description: string;
  backgroundType?: "plum" | "dot" | "rose" | "particle" | "";
};

const { title, description, backgroundType = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />

    <Tooltips interactive={false} />
  </head>
  <body>
    {ANIMATED_BACKGROUND && <Background type={backgroundType} />}
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <!-- Default Statcounter code for Mujtabachang.com
    http://www.mujtabachang.com,
    https://mujtabachang.github.io/,
    https://www.mujtabachang.com -->
    <script type="text/javascript">
      var sc_project = 10646775;
      var sc_invisible = 1;
      var sc_security = "e2da54f6";
    </script>
    <script
      type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async></script>
    <noscript
      ><div class="statcounter">
        <a title="Web Analytics" href="https://statcounter.com/" target="_blank"
          ><img
            class="statcounter"
            src="https://c.statcounter.com/10646775/0/e2da54f6/1/"
            alt="Web Analytics"
            referrerPolicy="no-referrer-when-downgrade"
          /></a>
      </div></noscript
    >
    <!-- End of Statcounter Code -->
  </body>
</html>
